<h1>All the Chambers</h1>
<% @short = true %>
<ul >
<% Assembly.where(:parent_id => nil).each do |a| %>
	<li><%= link_to a.name, a %></li>
	<%= recurse_assemblies a, true %>
<% end %>
<% Chamber.where(:assembly_id => nil).each do |c| %>
	<li><%= render :partial => 'chambers/short_chamber', :locals => {:item => c} %></li>
<% end %>
</ul>
