<% title "New Comment" %>
<%= render :partial => 'comments/comment', :locals => {:item => @comment.commentable, :depth => nil} %>
<%= nested_comments @comment.commentable%>

<%= render 'form' %>

<p><%= link_to "Back to List", comments_path %></p>
