<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= truthy_thumb user.administrator %></td>
        <td>
          <%= link_to 'Edit',
                      edit_user_path(user), :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if APP_CONFIG[:auth_local] && current_user.admin? %>
    <%= link_to "Add a User", new_user_path, :class => 'btn btn-primary' %>
<% end %>
