<% title "Create User" %>

<p>Don't create accounts for LDAP users - they create themselves when they log in for the first time!</p>

<%= render('form') %>

<p>
  <%= link_to "View All", users_path %>
</p>
