<% if current_user && current_user.admin?%>
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner pull-center">
			<div class="container">
				<ul class="nav" style="margin: auto;">
					<li class="navbar-text"><p style="color: #111; font-size: larger; font-weight: bold;">Admin Tools<p></li>
					<li><%= link_to i('user') + "Users", users_path %></li>
					<li><%= link_to i('list-alt') + "Groups", groups_path %></li>
					<li><%= link_to i('briefcase') + "Chambers", chambers_path %></li>
					<li><%= link_to i('briefcase') + "Assemblies", assemblies_path %></li>
				</ul>
			</div>
		</div>
	</div>
<% end %>
